[submodule "Assignments/04B - Drivers for Embedded Systems/pico-examples"]
	path = Assignments/04B - Drivers for Embedded Systems/pico-examples
	url = git@github.com:raspberrypi/pico-examples.git
[submodule "Assignments/04B - Drivers for Embedded Systems/pico-sdk"]
	path = Assignments/04B - Drivers for Embedded Systems/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
